# .gitignoreファイルを作成
cat << 'EOF' > .gitignore

# python virtual environment
.venv/

# MkDocs build output
site/

# Python
__pycache__/
*.py[cod]
.Python
*.log

# OS
.DS_Store
Thumbs.db
EOF

scripts/NotoSansCJKjp-Regular.otf
docs/assets/wordcloud/
